@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
  margin-left: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {
  .queued-bg { @apply bg-gray-400/40; }
  .preparing-bg { @apply bg-blue-400/40; }
  .delayed-bg { @apply bg-red-400/40; }
  .served-bg { @apply bg-green-400/40; }
}